:root{
    --color-1: #cdb4db;
    --color-2: #fff1e6;
    --color-3: #52b788;
    --color-4: #bee1e6;
}

.container {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--color-1);
}

@media screen and (max-width: 1200px) {
    .container {
        background-color: var(--color-4);
    }
}

@media screen and (max-width: 992px) {
    .container {
        background-color: var(--color-3);
    }
}

@media screen and (max-width: 768px) {
    .container {
        background-color: var(--color-2);
    }
}

@media screen and (max-width: 576px) {
    .container {
        background-color: var(--color-1);
    }
}